.idea
__pycache__
*.zip
.idea
*.swp
*.swoarchived
models/__pycache__
data/data_Rope/valid
data/data_Rope/train
data/data_Rope/stat.h5
data/data_Soft/valid
data/data_Soft/train
data/data_Soft/stat.h5
data/data_Swim/valid
data/data_Swim/train
data/data_Swim/stat.h5
dump_Rope/eval*
dump_Rope/shoot*
dump_Soft/eval*
dump_Soft/shoot*
dump_Swim/eval*
dump_Swim/shoot*
